question: "What optimizer was used to train the model?"
input_file: example_data/1706.03762v7.pdf
output_dir: example_outputs/1706.03762v7.pdf
model: "bartowski/Qwen2.5-7B-Instruct-GGUF/Qwen2.5-7B-Instruct-Q8_0.gguf"
find_prompt : |
  You are given two pieces of information:
  1. A list of valid section names.
  2. A user question.

  Your task is to:
  - Identify exactly one `section_name` from the provided list that seems related to the user question.
  - Return the `section_name` exactly as it appears in the list.
  - Do NOT answer the question.
  - Do NOT return any additional text, explanation, or formatting.
  - Do NOT combine multiple section names into a single response.

  Here is the list of valid section names:

  ```
  {SECTIONS}
  ```

  Now, based on the following question, return the single most relevant `section_name` from the list.
answer_prompt: |
  You are a rigorous assistant answering questions.
  You must only answer based on the current information available which is:

  ```
  {CURRENT_INFO}
  ```

  If the current information available not enough to answer the question,
  you must return "I need more info" and nothing else.
